{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    
{% endblock %}
<body>
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Ranga|Underdog&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Josefin+Slab|Ranga|Underdog&display=swap" rel="stylesheet">
<div class="container">
    <div class="row">
        <blockquote class="text-center text-lg">
            <p style="font-family: 'Ranga', cursive; font-size: 40px; background-color: #E8DAEF"> "<strong> {{quote.content}} </strong>"</p>
            <footer style="font-size: 20px"><cite> by {{quote.author}}</cite></footer>
        </blockquote> 
    </div>

    <br> <br>
    <div class="row">
        <a href="blog/new" class="btn btn-primary">post blog here</a> <br>
        <h3 href="/" style="
        font-family: 'Fira Sans Condensed', sans-serif; color:#17202A; font-size: 30px;" ><strong>Posted by </strong> <em>{{current_user.username}} </em> </h3>
        {{macro.displayBlogs(blogs)}} 
    </div> <br> <br>
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-6" style="border: 1px solid black">
            <h2>Subscribe here</h2>
            <p>You will get an Email every time new post has been posted.</p>
        {{wtf.quick_form(subscription_form)}} <br>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!-- <div class="footer">
        <p class="jumbotron" style="color: black; font-family: 'Shadows Into Light', cursive; font-size: 25px; text-align: center;"> &copy;<strong> 2019 Copy Right  All right reserved.</strong><p>
      </div> -->
</body>
{% endblock %}

