{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Ranga|Underdog&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Josefin+Slab|Ranga|Underdog&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Underdog&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">    
    
{% endblock %}
<body>
{% block content %}
<div class="container">
    <div class="row">
        <blockquote class="text-center text-lg">
            <p style="font-family: 'Ranga', cursive; font-size: 40px; background-color: #626567"> <strong> " {{quote.content}} " </strong> </p>
            <footer style="font-size: 20px"><cite> by {{quote.author}}</cite></footer>
        </blockquote> 
    </div>

    <br> <br>
    <a class="navbar-brand" href="blog/new" style="font-family: 'Josefin Slab', serif; font-size: 25px;">Post Your Blog </a> <br> <br> <br> <br>
    <div class="row">
    <div class="col-md-6" style="border-style: inset;border-width: 7px; border-color: #626567">
        {{macro.displayBlogs(blogs)}}  <br><br>
    </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="border-style: outset;border-width: 7px; border-color: #626567">
            <h2 style="font-family: 'Josefin Slab', serif; font-size: 30px; color: #85C1E9"><strong> Subscribe here </strong> </h2>
            <p style="font-family: 'Josefin Slab', serif; font-size: 20px" >You will get an Email every time new post has been posted.</p>
        {{wtf.quick_form(subscription_form)}} <br>
        </div>
        <!-- <div class="col-md-2"></div> -->
    </div>
</div>

<!-- <div class="footer">
        <p class="jumbotron" style="color: black; font-family: 'Shadows Into Light', cursive; font-size: 25px; text-align: center;"> &copy;<strong> 2019 Copy Right  All right reserved.</strong><p>
      </div> -->
</body>
{% endblock %}

