{% macro displayBlogs(blogs) %}

{% for blog in blogs %}
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Josefin+Slab|Ranga|Underdog&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">

<body>
<div class="container"> 
  <div class="row">
   <h3 class='title' style="text-decoration: underline; font-family: 'Patua One', cursive;color: #85C1E9"> {{blog.title}}</h3> <br>
   <p style="font-family: 'Ranga', cursive; font-size: 30px;"> <strong>" {{blog.description}} " </strong></p> <br>
   <blockquote>
   <footer style="font-size: 20px"><cite> Posted by {{blog.user.username|capitalize}} </cite></footer>
   </blockquote> 
  </div>
    <br>
  <img src="{{blog.image}}" alt="">

 <a href="/comment/new/{{blog.id}}" style="border-radius: 12px; background-color: #17202A;margin: 4px 2px; color:#EAEDED;padding: 10px;text-decoration: none"><strong> Comments </strong></a>
 <a href="/delete/blog/{{blog.id}}" style="border-radius: 12px; background-color: #17202A;margin: 4px 2px; color: #EAEDED;padding: 10px; text-decoration: none"> <strong> Delete blog </strong></a>
 <a href="/edit/blog/{{blog.id}}" style="border-radius: 12px; background-color: #17202A;margin: 4px 2px; color:#EAEDED;padding: 10px; text-decoration: none"> <strong>Update blog </strong></a>
</div>
 {%endfor%}
 {%endmacro%}

 {% macro displayComments(comments) %}

 {% for comment in comments %}

   <div class="container">
   <h3 class="name">{{comment.username}}</h3>
     <p>{{comment.content}}</p>
     <a href="/delete/comment/{{comment.id}}" style="border-radius: 12px; background-color: #17202A;margin: 4px 2px; color:#EAEDED;padding: 10px;text-decoration: none">Delete Comment</a>
     </div>
</body>


 {%endfor%}
 {%endmacro%}
